
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

body {
  font-family: 'Eczar' !;
  background-color: rgb(48, 230, 230);
  background-image: "{{ url_for('static', filename='./img/food.jpg') }}";
  width: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Eczar';
}

#footer {
    width: 100%;
    background-color: rgb(52, 93, 112);
    position: bottom;
    display: block;
}

#copyright {
    background-color: rgba(255, 0, 0, 0.966);
}

#recipe_cloud {
    width: 100%;
    
}

.recipe_box {
    width: 100%;
    border: 30px;
    background-color: rgb(228, 233, 233);
    border-width: 3px;
    border-style: solid;
    text-align: center;
    display: block;
    font-family:'SpicyRice';
    font-size: x-large;
    padding: 50px;
}