<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block content %}
  <div class="faq">
    <h1>About</h1>
    <h1>Welcome to RecipeCloud</h1>
    <!-- Small paragragh explaining the website functionality and user options-->
    <div>
      <p>
        Your one stop shop to find and share exciting new recipes! <br />
        Share your family recipes to ensure they are always saved for your
        family members or friends to enjoy or <br />
        Find new and interesting recipes loaded from thousands of members.
        <br />
        We have three options to download, written, visual or tutorial. <br />
        Share, Use and most importantly Enjoy!!
      </p>
    </div>
    <div>
      <h4>
        Recipe Cloud is cool space to upload recipes and find new recipes which
        have been uploaded by our users
      </h4>
    </div>
    <div>
      <h4>How to upload your Recipes</h4>
      <ul>
        <li>
          First have you registered? Sign up now to upload your favorite recipes
        </li>
        <li>Log-in with your username and password</li>
        <li>click on Add recipes</li>
        <li>Add your Recipe name and Choose a category</li>
        <li>
          Select the Prep time which is how long it takes to prepare your
          ingredients before cooking
        </li>
        <li>
          Select your Cooking time which is how long the recipe takes to cook or
          bake
        </li>
        <li>
          Choose a difficuly level - is it an easy recipe or something that a
          prochef has made
        </li>
        <li>
          Now comes the fun!! Add your ingredients with their Quantities then
          type out your instructions
        </li>
        <li>
          Please make your Instructions as detailed as possible and check your
          grammer and spell check before submitting
        </li>
        <li>
          Have more instructions to add no problem!! Just click add instruction
          field and another textbox will appear to add those extra secret moves
        </li>
        <li>
          You can add a link to your recipe image to if you have shared it on
          instagram or facebook
        </li>
        <li>Then submit your recipe!!</li>
        <li>
          It will appear on the top of the Home page but you can also veiw it in
          your Profile
        </li>
      </ul>
    </div>
    <div>
      <h4>How to Edit or Delete your Recipes</h4>
      <ul>
        <li>Log-in with your username and password</li>
        <li>You will be redirected to your Profile</li>
        <li>Choose your Recipe name and Click edit</li>
        <li>
          You will be directed to the editing page where you can update or
          change your recipe thatyou have added
        </li>
        <li>Then click the edit submit button to update your recipe!!</li>
        <li>It will appear in your Profile for you to veiw later</li>
        <li>
          Be careful when clicking delete recipe it will automatically delete
          your recipe from your profile
        </li>
      </ul>
    </div>
  </div>
  {% endblock %}
</html>
