<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %} {% block content %}

<h1>About</h1>
<h1>Welcome to RecipeCloud</h1>
  <!-- Small paragragh explaining the website functionality and user options-->
  <div>
    <p>
      Your one stop shop to find and share exciting new
      recipes! <br />
      Share your family recipes to ensure they are always saved for your family
      members or friends to enjoy or <br />
      Find new and interesting recipes loaded from thousands of members. <br />
      We have three options to download, written, visual or tutorial. <br />
      Share, Use and most importantly Enjoy!!
    </p>
  </div>
<div>
    <li>Recipe Cloud is cool space to upload recipes and find new recipes which have been uploaded by our users</li>
</div>

{% endblock %}
</html>