{% extends 'base.html' %} {% block content %}
  <!--Create Form and basis for the uploading of files 
    download your recipes and videos upload-->

  <div id="inputForm" class="row">
    <form
      class="col s12 m8 offset-m2"
      method="POST"
      action="{{ url_for('add_recipe') }}"
    >
      <div class="recipe_box card-panel">
        <h1 class="center-align">Add your Recipes Here!!</h1>
        <!-- Recipe Name -->
        <div class="row">
          <div class="input-field col s12">
            <label for="recipe_name">Recipe Name</label>
            <input
              name="recipe_name"
              id="recipe_name"
              type="text"
              minlength="5"
              maxlength="30"
              class="text_input validate"
              required
              placeholder="Recipe Name"
            />
          </div>
        </div>
        <!-- Categories -->
        <div class="row">
          <div class="input-field col s12">
            <label for="Category">Category</label>
            <select name="category" id="Category" class="text_input">
              <option>Select</option>
              <option>Beef</option>
              <option>Poultry</option>
              <option>Fish</option>
              <option>Seafood</option>
              <option>Pork</option>
              <option>Vegetarian</option>
              <option>Sauces</option>
              <option>Dessert</option>
            </select>
          </div>
        </div>
        <!-- Prep Time -->
        <div class="row">
          <div class="input-field col s12">
            <label for="prep_time">Prep Time</label>
            <input
              name="prep_time"
              id="prep_time"
              type="number"
              class="num_input validate"
              required
            />
          </div>
        </div>
        <!-- Cooking Time -->
        <div class="row">
          <div class="input-field col s12">
            <label for="cooking_time">Cooking Time</label>
            <input
              name="cooking_time"
              id="cooking_time"
              type="number"
              class="num_input validate"
              required
            />
          </div>
        </div>
        <!-- DifficultyLevel -->
        <div class="row">
          <div class="input-field col s12">
            <label for="difficulty_level">Difficulty</label>
            <select name="difficulty_level" id="difficulty_level" class="text_input" >
              <option>Select</option>
              <option>Easy</option>
              <option>Tricky</option>
              <option>Hard</option>
            </select>
          </div>
        </div>
        <!-- Serves -->
        <div class="row">
          <div class="input-field col s12">
            <label for="serves">Serves</label>
            <input
              name="serves"
              id="serves"
              type="number"
              class="num_input validate"
              required
            />
          </div>
        </div>
        <!-- Ingredients -->
        <div class="row">
          <div class="input-field col s12">
            <label for="ingredient">Edit Ingredient</label>
            <input
              name="ingredient"
              id="ingredient"
              type="text"
              minlength="2"
              maxlength="500"
              class="text_input validate"
              required
              placeholder="Ingredient"
            />
          </div>
        </div>

        <div id="new-ingredients"></div>
        <!-- add Ingredients field-->
        <div class="row">
          <input
            type="button"
            id="add-ingredient-button"
            name="ingredient"
            class="text_input validate"
            value="+ Ingredient field "
          />
        </div>
        <!-- Instruction -->

        <div class="row">
          <div class="input-field col s12">
            <label for="instruction">Add Instructions</label>
            <input
              name="instruction"
              id="instruction"
              type="text"
              minlength="2"
              maxlength="500"
              class="text_input validate"
              required
              placeholder="Instructions"
            />
          </div>
        </div>

        <div id="new-instructions"></div>
        <!-- add Instruction field-->
        <div class="row">
          <input
            type="button"
            id="add-instruction-button"
            name="instruction"
            class="text_input validate"
            value="+ Instruction field "
          />
        </div>
        <!-- Image -->
        <div class="row">
          <div class="input-field col s12">
            <label for="upload_pic">Upload Image URL</label>
            <input
              id="upload_pic"
              name="upload_pic"
              type="text"
              minlength="5"
              maxlength="150"
              class="text_input validate"
              required
              placeholder="Add a link to your image here"
            />
          </div>
        </div>
        <div class="row">
          <button type="submit" class="text_input btn btn-primary">
            Submit
          </button>
        </div>
        <div>
          <a
            href="{{ url_for('profile', username=session['user']) }}"
            class="btn btn-warning"
            >Go Back to Profile</a
          >
        </div>
      </div>
    </form>
  </div>
  {% endblock %}
</html>
