<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/business-casual.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/style.css" type="text/css">

	<title>Recipe Cloud</title>
</head>
<nav class="navbar">
	<ul>
		<li><a href="{{ url_for('index') }}">Home</a></li>
		<li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('listings') }}">Recipe Lists</a></li>
		<li><a href="{{ url_for('input') }}">Add Recipes</a></li>

	</ul>
</nav>

<body>

	{% block content %} {% endblock %}

</body>
<!-- Footer 
        FAQ = Href link to FAQ
        Social = Href to socail links
        Settings = setup settings and change language
        Copyright = Copyright expression-->
<footer>
	<div class="row">
		<div class="col-sm-3">
			<ul>
                <h4>FAQ</h4> 
            </ul>
		</div>
		<div class="col-sm-3">
			<h4 class="social">Settings</h4>
		</div>
		<div class="col-sm-3">
			<h5 class="social"> Connect</h5>
			<ul class="list-inline social-links">
				<li class="list-inline-item">
					<a href="#" class="hvr-glow" target="_blank">
						<i class="fa fa-facebook" aria-hidden="true"></i><span class="sr-only">facebook</span></a>
				</li>
				<li class="list-inline-item">
					<a href="#" class="hvr-glow" target="_blank">
						<i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">twitter</span></a>
				</li>
				<li class="list-inline-item">
					<a href="#" class="hvr-glow" target="_blank">
						<i class="fa fa-instagram" aria-hidden="true"></i><span class="sr-only">instagram</span></a>
				</li>
			</ul>
		</div>
		<div class="col-sm-3">
			<h5 class="copyright">Copyright</h5>
			<a>all rights reserved RecipeCloud</a>
		</div>
	</div>
</footer>

</html>