<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block content %}

  <h1>Welcome to RecipeCloud</h1>
  <!-- Small paragragh explaining the website functionality and user options-->
  <div>
    <p>
      Your one stop shop to find and share exciting new
      recipes! <br />
      Share your family recipes to ensure they are always saved for your family
      members or friends to enjoy or <br />
      Find new and interesting recipes loaded from thousands of members. <br />
      We have three options to download, written, visual or tutorial. <br />
      Share, Use and most importantly Enjoy!!
    </p>
  </div>
  <!-- Home page should have a search option for recipes-->
  <div class="container">
    <div class="row">
      <h2>Find Recipes</h2>
      <!--Examples of Recipes on the site-->
      <div>
        <img src="{{ url_for('static', filename='img/bg.jpg') }}" />
        <img src="{{ url_for('static', filename='img/bg.jpg') }}" />
        <img src="{{ url_for('static', filename='img/bg.jpg') }}" />
        <img src="{{ url_for('static', filename='img/bg.jpg') }}" />
      </div>
    </div>

    <div class="row">
      <h2>Find Videos</h2>
      <!--list of example videos appear-->
      <div>
        <iframe
          src="{{ url_for('static', filename='videos/upload_vid/sample.mp4') }}"
          frameborder="0"
        ></iframe>
        <iframe
          src="{{ url_for('static', filename='videos/upload_vid/sample.mp4') }}"
          frameborder="0"
        ></iframe>
        <iframe
          src="{{ url_for('static', filename='videos/upload_vid/sample.mp4') }}"
          frameborder="0"
        ></iframe>
        <iframe
          src="{{ url_for('static', filename='videos/upload_vid/sample.mp4') }}"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
  {% endblock %}
</html>