<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %} {% block content %}
<!-- Background image -->
<div id="recipe_cloud" class="p-5 text-center bg-image" style="height: 400px;" src="{{ url_for('static', filename='./img/food.jpg') }}">
    <div class="bgimg-2" style="background-color: rgba(70, 99, 226, 0.774)">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
<img src="{{ url_for('static', filename='./img/logoCloud.png') }}" class="logo">     
           <h1 class="mb-3">Welcome to RecipeCloud</h1>
                <div class="container ">
                    <form action="{{ url_for('search') }}" method= "POST" class="d-flex input-group w-auto">
                        <i class="fas fa-search prefix"></i>
                        <input placeholder="Search Recipes" type="text" name="query" id="query" minlength="3" class="validate form-control" required/>
                        <label for="query"></label>
                        <button type="submit" class="fas fa-search left btn btn-primary" data-ripple-color="dark">
                            Search
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Background image -->



<!-- Home page should have a search option for recipes-->
<div>
    <h2>Find Recipes</h2>
</div>
<div class="container-fluid" >
    <div class="row">


        <!--Examples of Recipes on the site-->
        <div class="card" style="width: 18rem;">
            {% for recipes in recipes %}
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ recipes.RecipeName }}</h5>
                <p class="card-text">
                    Prep Time {{ recipes.PrepTime }} &nbsp;&nbsp;
                    Cooking Time{{ recipes.CookingTime }}<br>
                    Difficulty {{ recipes.DifficultyLevel }} &nbsp;&nbsp;
                    Serves {{ recipes.Serves }}</p>
                <a href="#" class="btn btn-primary">Go to Recipe</a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <h2>Find Videos</h2>
    </div>
    <!--list of example videos appear-->
    <!-- <div>
        <iframe
          src="{{ url_for('static', filename='videos/upload_vid/sample.mp4') }}"
          frameborder="0"
        ></iframe>
        <iframe
          src="{{ url_for('static', filename='videos/upload_vid/sample.mp4') }}"
          frameborder="0"
        ></iframe>
        <iframe
          src="{{ url_for('static', filename='videos/upload_vid/sample.mp4') }}"
          frameborder="0"
        ></iframe>
        <iframe
          src="{{ url_for('static', filename='videos/upload_vid/sample.mp4') }}"
          frameborder="0"
        ></iframe>
      </div>
    </div> -->

    {% endblock %}

</div></html>