<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block content %}
 <!--Create Form and basis for the uploading of files 
    download your recipes and videos upload-->
  <h1 class="center-align">Add your Recipes Here!!</h1>

  <div id="inputForm"class="recipe_box row">
    <form
      class="col s12 m8 offset-m2"
      method="POST"
      action="{{ url_for('input') }}"
    >
      <div class="card-panel">
        <!-- Recipe Name -->
        <div class="row">
          <div class="input-field col s12">
            <label for="RecipeName">Recipe Name</label>
            <input
              id="RecipeName"
              name="RecipeName"
              type="text"
              minlength="5"
              maxlength="30"
              class="validate"
              required
              placeholder="RecipeName"
            />
          </div>
        </div>
          <!-- Categories -->
        <div class="dropdown">
            <label for="Category">Category</label>
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose one</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" name="category" type="button">Beef</button>
                <button class="dropdown-item" name="category" type="button">Poultry</button>
                <button class="dropdown-item" name="category" type="button">Fish</button>
                <button class="dropdown-item" name="category" type="button">Pork</button>
                <button class="dropdown-item" name="category" type="button">Vegatarian</button>
                <button class="dropdown-item" name="category" type="button">Sauces</button>
                <button class="dropdown-item" name="category" type="button">Dessert</button>
            </div>
        </div>
        <!-- Prep Time -->
        <div class="row">
          <div class="input-field col s12">
            <label for="PrepTime">Prep Time</label>
            <input
              id="PrepTime"
              name="PrepTime"
              type="number"
              minlength="1"
              maxlength="5"
              pattern="^[a-zA-Z0-9]{5,15}$"
              class="validate"
              required
              placeholder="PrepTime"
            />
          </div>
        </div>
        <!-- Cooking Time -->
        <div class="row">
          <div class="input-field col s12">
            <label for="CookingTime">Cooking Time</label>
            <input
              id="CookingTime"
              name="CookingTime"
              type="number"
              minlength="1"
              maxlength="5"
              pattern="^[a-zA-Z0-9]{5,15}$"
              class="validate"
              required
              placeholder="CookingTime"
            />
          </div>
        </div>
        <!-- DifficultyLevel -->
        <div class="row">
          <div class="input-field col s12" id="DifficultyLevel">
            <label for="DifficultyLevel">Difficulty Level</label>
             <!-- match the following on button and post beginner in DB instead of "ON" -->
            <input
              id="beginner"
              name="DifficultyLevel"
              id="DifficultyLevel"
              type="radio"
              class="validate"
              required
            />Beginner
           <!-- match the following on button and post cook in DB instead of "ON" -->
            <input
              name="DifficultyLevel"
              id="cook"
              type="radio"
              class="validate"
              required
            />Cook
             <!-- match the following on button and post prochef in DB instead of "ON" -->
            <input
              id="pro_chef"
              name="DifficultyLevel"
              type="radio"
              class="validate"
              required
            />Pro Chef
          </div>
        </div>
        <!-- Serves -->
        <div class="row">
          <div class="input-field col s12">
            <label for="Serves">Serves</label>
            <input
              id="Serves"
              name="Serves"
              type="number"
              maxlength="1"
              class="validate"
              required
              placeholder="Serves"
            />
          </div>
        </div>
        <!-- Ingredients -->
        <div class="row">
          <div class="input-field col s12">
            <label for="Ingredient">Add Ingredient</label>
            <input
              name="Ingredient"
              type="text"
              minlength="2"
              maxlength="45"
              class="Ingredient validate"
              required
              placeholder="Ingredient no.1"
            />
          </div>
           <div class="input-field col s12">
            <label for="Qty">Add Qty</label>
            <input
              name="Qty"
              type="text"
              minlength="2"
              maxlength="30"
              class="validate"
              required
              placeholder="Add Qty"
            />
          </div>
          </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="Ingredient">Add Ingredient</label>
            <input
              name="Ingredient"
              type="text"
              minlength="2"
              maxlength="45"
              class="Ingredient validate"
              required
              placeholder="Ingredient no.2"
            />
          </div>
           <div class="input-field col s12">
            <label for="Qty">Add Qty</label>
            <input
              name="Qty"
              type="text"
              minlength="2"
              maxlength="30"
              class="validate"
              required
              placeholder="Add Qty"
            />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="Ingredient">Add Ingredient</label>
            <input
              
              name="Ingredient"
              type="text"
              minlength="2"
              maxlength="45"
              class="Ingredient validate"
              required
              placeholder="Ingredient no.3"
            />
          </div>
           <div class="input-field col s12">
            <label for="Qty3">Add Qty</label>
            <input
              id="Qty3"
              name="Qty3"
              type="text"
              minlength="2"
              maxlength="30"
              class="validate"
              required
              placeholder="Add Qty"
            />
          </div>
        </div>
        <!-- add Ingredients field-->
        <div>
          <button for="Add_ingredient">+ Ingredient field</button>
          <input
              name="Add_ingredient"
              type="text"
              minlength="2"
              maxlength="30"
              class="validate"
              required
              placeholder="Add ingredient"
            />
          </div>
          
        </div>
        <!-- Instruction -->
        <div class="row">
          <div class="input-field col s12">
            <label for="Instruction">Add Instructions</label>
            <input
              name="Instruction"
              type="text"
              minlength="5"
              maxlength="120"
              class="validate"
              required
              placeholder="Instruction no.1"
            />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="Instruction">Add Instructions</label>
            <input
              name="Instruction"
              type="text"
              minlength="5"
              maxlength="120"
              class="validate"
              required
              placeholder="Instruction no.2"
            />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="Instruction">Add Instructions</label>
            <input
              name="Instruction"
              type="text"
              minlength="5"
              maxlength="120"
              class="validate"
              required
              placeholder="Instruction no.3"
            />
            <!-- add Ingredients field-->
            <div>
              <button class="instruction_field">+ Instruction field</button>
            </div>
          </div>
        </div>
        <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        Upload <i class="fas fa-plus"></i>
                    </button>
                </div>
        <div class="container">
          <div class="row">
            <label>Upload Image</label>
            <form action="/input" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    name="image"
                    id="image"
                  />
                  <label class="custom-file-label" for="image"
                    >Select image...</label
                  >
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-primary">Upload</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </form>
  </div>
    

    <!-- Upload video files--> 
    <div class="container">
      <div class="row">
        <h2>Upload Video</h2>
        <form action="/input" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                name="video"
                id="video"
              />
              <label class="custom-file-label" for="image"
                >Select Video...</label
              >
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Upload</button>
        </form>
      </div>
    </div>
  
  {% endblock %}
</html>
