<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block content %}
  <!--Create Form and basis for the uploading of files 
    download your recipes and videos upload-->

  <div id="inputForm" class="row">
    <form
      class="col s12 m8 offset-m2"
      method="POST"
      action="{{ url_for('input') }}"
    >
      <div class="recipe_box card-panel">
        <h1 class="center-align">Add your Recipes Here!!</h1>
        <!-- Recipe Name -->
        <div class="row">
          <div class="input-field col s12">
            <label for="RecipeName">Recipe Name</label>
            <input
              id="RecipeName"
              name="RecipeName"
              type="text"
              minlength="5"
              maxlength="30"
              class="text_input validate"
              required
              placeholder="RecipeName"
            />
          </div>
        </div>
        <!-- Categories -->
        <div class="dropdown">
          <label for="Category">Category</label>
          <button
            class="btn btn-info dropdown-toggle"
            type="button"
            id="dropdownCat"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Choose one
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" name="category" type="button">
              Beef
            </button>
            <button class="dropdown-item" name="category" type="button">
              Poultry
            </button>
            <button class="dropdown-item" name="category" type="button">
              Fish
            </button>
            <button class="dropdown-item" name="category" type="button">
              Pork
            </button>
            <button class="dropdown-item" name="category" type="button">
              Vegatarian
            </button>
            <button class="dropdown-item" name="category" type="button">
              Sauces
            </button>
            <button class="dropdown-item" name="category" type="button">
              Dessert
            </button>
          </div>
        </div>
        <!-- Prep Time -->
        <div class="row">
          <div class="input-field col s12">
            <label for="PrepTime">Prep Time</label>
            <input
              id="PrepTime"
              name="PrepTime"
              type="number"
              minlength="1"
              maxlength="5"
              pattern="^[a-zA-Z0-9]{5,15}$"
              class="num_input validate"
              required
            />
          </div>
        </div>
        <!-- Cooking Time -->
        <div class="row">
          <div class="input-field col s12">
            <label for="CookingTime">Cooking Time</label>
            <input
              id="CookingTime"
              name="CookingTime"
              type="number"
              minlength="1"
              maxlength="5"
              pattern="^[a-zA-Z0-9]{5,15}$"
              class="num_input validate"
              required
            />
          </div>
        </div>
        <!-- DifficultyLevel -->
        <div class="dropdown">
          <label for="Category">Difficulty</label>
          <button
            class="btn btn-info dropdown-toggle"
            type="button"
            id="dropdownDiff"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Choose one
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" name="DifficultyLevel" type="button">
              Easy
            </button>
            <button class="dropdown-item" name="DifficultyLevel" type="button">
              Tricky
            </button>
            <button class="dropdown-item" name="DifficultyLevel" type="button">
              Hard
            </button>
          </div>
        </div>

        <!-- Serves -->
        <div class="row">
          <div class="input-field col s12">
            <label for="Serves">Serves</label>
            <input
              id="Serves"
              name="Serves"
              type="number"
              maxlength="1"
              class="num_input validate"
              required
            />
          </div>
        </div>
        <!-- Ingredients -->
        <div class="row">
          <div class="input-field col s12">
            <label for="Ingredient">Add Ingredient</label>
            <input
              name="Ingredient"
              type="text"
              minlength="2"
              maxlength="30"
              class="text_input validate"
              required
              placeholder="Ingredient no.1"
            />
          </div>
          <div class="input-field col s12">
            <label for="Qty">Add Qty</label>
            <input
              name="Qty"
              type="text"
              minlength="2"
              maxlength="30"
              class="num_input validate"
              required
              placeholder="Qty"
            />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="Ingredient">Add Ingredient</label>
            <input
              name="Ingredient"
              type="text"
              minlength="2"
              maxlength="30"
              class="text_input validate"
              required
              placeholder="Ingredient no.2"
            />
          </div>
          <div class="input-field col s12">
            <label for="Qty">Add Qty</label>
            <input
              name="Qty"
              type="text"
              minlength="2"
              maxlength="30"
              class="num_input validate"
              required
              placeholder="Qty"
            />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="Ingredient">Add Ingredient</label>
            <input
              name="Ingredient"
              type="text"
              minlength="2"
              maxlength="30"
              class="text_input validate"
              required
              placeholder="Ingredient no.3"
            />
          </div>
          <div class="input-field col s12">
            <label for="Qty">Add Qty</label>
            <input
              name="Qty"
              type="text"
              minlength="2"
              maxlength="30"
              class="num_input validate"
              required
              placeholder="Qty"
            />
          </div>
        </div>
        <!-- add Ingredients field-->
        <div>
          <input
            type="button"
            id="myButton"
            name="answer"
            value="+ Ingredient field "
          />
        </div>
        <!-- Instruction -->
        <div class="row">
          <div class="input-field col s12">
            <label for="Instruction">Add Instructions</label>
            <input
              name="Instruction"
              type="text"
              minlength="5"
              maxlength="50"
              class="text_input validate"
              required
              placeholder="Instruction no.1"
            />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="Instruction">Add Instructions</label>
            <input
              name="Instruction"
              type="text"
              minlength="5"
              maxlength="50"
              class="text_input validate"
              required
              placeholder="Instruction no.2"
            />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="Instruction">Add Instructions</label>
            <input
              name="Instruction"
              type="text"
              minlength="5"
              maxlength="50"
              class="text_input validate"
              required
              placeholder="Instruction no.3"
            />
            <!-- add Ingredients field-->
            <div>
              <button>+ Instruction field</button>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="upload_pic">Upload Image URL</label>
                <input
                  id="upload_pic"
                  name="upload_pic"
                  type="text"
                  minlength="5"
                  maxlength="150"
                  class="text_input validate"
                  required
                  placeholder="Add a link to your image here"
                />
              </div>
            </div>
            <div>
              <button type="submit" class="text_input btn btn-primary">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Upload video files
  <div class="container">
    <div class="row">
      <h2>Upload Video</h2>
      <form action="/input" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              name="video"
              id="video"
            />
            <label class="custom-file-label" for="image">Select Video...</label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
  </div> -->

  {% endblock %}
</html>
