<!DOCTYPE html>
<html lang="en">
          {% extends "base.html" %} {% block content %}

          <!-- Background image -->
  <div
    id="recipe_cloud"
    class="p-5 text-center bg-image"
    style="height: 400px;"
    src="{{ url_for('static', filename='./img/food.jpg') }}"
  >
    <div class="bgimg-2" style="background-color: rgba(70, 99, 226, 0.774);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <!-- Background image -->
          <img
            src="{{ url_for('static', filename='./img/logoCloud.png') }}"
            class="logo"
          />
          <h1 class="mb-3">Listings</h1>
        </div>
      </div>
    </div>
  </div>
  <!--Examples of Recipes on the site-->
  <div class="container">
    <div class="row">
      {% for recipes in recipes %}

      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="recipe_card">
          <img
            src="{{ recipes.upload_pic}}"
            class="card_img card-img-top"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ recipes.RecipeName }}</h5>
            <p class="card-text">
              Prep Time {{ recipes.PrepTime }} &nbsp;&nbsp; Cooking Time{{
              recipes.CookingTime }}<br />
              Difficulty {{ recipes.DifficultyLevel }} &nbsp;&nbsp; Serves {{
              recipes.Serves }}
               Ingredients <br />
            <ul>
                {% for Ingredient in recipes.Ingredient %}
                <li>{{Ingredient}}</li>
                {% endfor %}
            </ul>
            Instructions <br />
            <ul>
                {% for Instruction in recipes.Instruction %}
                <li>{{Instruction}}</li>
                {% endfor %}
            </ul>
            <br />
          </p>
 <a
            href="{{ url_for('edit_recipes',recipes_id=recipes._id) }}"
            class="btn btn-warning"
            >Edit</a
          >
          <a
            href="{{ url_for('delete_recipes',recipes_id=recipes._id) }}"
            class="btn btn-danger"
            >Delete</a
          >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {{ pagination.info }} {{ pagination.links }} {% endblock %}
</html>
