<!DOCTYPE html>
<html lang="en">
          {% extends "base.html" %} {% block content %}

          <!-- Background  -->
  <div
    id="recipe_cloud"
    class="p-5 text-center bg-image"
    style="height: 400px;"
    src="{{ url_for('static', filename='./img/food.jpg') }}"
  >
    <div class="bgimg-2" style="background-color: rgba(70, 99, 226, 0.774);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <!-- logo -->
          <img
            src="{{ url_for('static', filename='./img/logoCloud.png') }}"
            class="logo"
          />
          <h1 class="mb-3">Profile</h1>
        </div>
      </div>
    </div>
  </div>
  <!--Examples of Recipes on the site-->
  <div class="container">
    <div class="row">
      {% for recipe in recipes %}

      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="get_recipe_card">
          <img
            src="{{ recipe.upload_pic}}"
            class="card_img card-img-top"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ recipe.recipe_name }}</h5>
             <h5 class="card-title">{{ recipe.created_by }}</h5>
            <p class="card-text">
               Category &nbsp;&nbsp; {{ recipe.category }} &nbsp;&nbsp;<br />
              Prep Time &nbsp;&nbsp; {{ recipe.prep_time }} Minutes &nbsp;&nbsp; <br />
              Cooking Time &nbsp;&nbsp; {{ recipe.cooking_time }} Minutes<br />
              Difficulty &nbsp;&nbsp; {{ recipe.difficulty_level }} &nbsp;&nbsp; <br />
              Serves &nbsp;&nbsp; {{ recipe.serves }} People <br />
               Ingredients <br />
            <ul>
                {% for ingredient in recipe.ingredient %}
                <li>{{ingredient}}</li>
                {% endfor %}
            </ul>
            Instructions <br />
            <ul>
                {% for instruction in recipe.instruction %}
                <li>{{instruction}}</li>
                {% endfor %}
            </ul>
            <br />
          </p>
           <a href="{{ url_for ('get_recipe', recipe_id=recipe._id) }}" class="btn btn-primary">Go to Recipe</a>
 <a
            href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
            class="btn btn-warning"
            >Edit</a
          >
          <a
            href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
            class="btn btn-danger"
            >Delete</a
          >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{{ pagination.info }} {{ pagination.links }}
 {% endblock %}
</html>
