<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken 4">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>
    <div>
        <div>
            <h3>Favorites</h3>
        </div>
<div class="row">
    <div class="col-sm-12">
      <div class="card" style="width: 18rem;">
        {% for recipe in recipes %}
        <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.RecipeName }}</h5>
                <p class="card-text">
                    Prep Time {{ recipe.PrepTime }} &nbsp;&nbsp;
                    Cooking Time{{ recipe.CookingTime }}<br>
                    Difficulty {{ recipe.DifficultyLevel }} &nbsp;&nbsp;
                    Serves {{ recipe.Serves }}</p>
                <a href="#" class="btn btn-primary">Go to Recipe</a>
            </div>
      </div></div>
    {% endfor %}
  </div>
    </div>
    <div>
        <div>
            <h3>My Recipes</h3>
        </div>
        
    </div>

{% endblock %}
</html>